<?xml version="1.0"?>
<launch>
    <!-- inverse transform: rosrun tf tf_echo /jenga_tf /camera_link -->
    <!-- This is the original hand calibrated with the markers transform -->
<!--
    <node name="april_frame"  pkg="tf" type="static_transform_publisher" args="0.020 0.407 0.175 0.058 0.048 -0.723 0.687 /jenga_tf /april_camera_link 100"/>
-->
    <node name="april_frame"  pkg="tf" type="static_transform_publisher" args="0.025 0.415 0.181 0.064 0.046 -0.728 0.681 /jenga_tf /april_camera_link 100"/>
</launch>
